body{
  background-color: #003300;
}

  .row{
    height: 750px;
    width: 100%;


  }

  .col{
    height: 100%;
    width: 49.4%;
    display: inline-block;
    border: 3px solid Red;


  }
  .header{
  color: red;

  }
  h1{
    color: Red;
    font-size: 50px;
  }


 }
  #JeromeASF{
    background-image: url(Jerry.jpg);
    background-size: cover;
  }

 #Ninja{
   background-image: url(Ninja.jpg);
   background-size: cover;
 }

 #DudePerfect{
   background-image: url(dudeperfect.jpg);
   background-size: cover;


 }
 #MiniLadd{
   background-image: url(MiniLadd.jpg);
   background-size: cover;
 }
 #FineBrothers{
   background-image: url(FineBrothers.jpg);
   background-size: cover;
 }
 #Marshmello{
   background-image: url(Marshmello.jpg);
background-size: cover;
 }
 #Description{
   height: 750px
 }
